{extends layout.latte}

{block title}Kamerový systém{/block}

{block body}
    <div class="row">
        <div class="col-md-4  hidden-xs">
            <div class="card  text-left">
                <div class="card-header">Manuální řízení</div>
                <div class="card-body">
                    <div class="card-content card-btn-min">

                        <form action="{link otevrit}" method="post">
                            <input type="submit" value="Otevřít" class="btn btn-success btn-block btn-full btn-lg" />
                        </form>
                            <br/>
                        <form action="{link zavrit}" method="post">
                            <input type="submit" value="Zavřit" class="btn btn-danger btn-block btn-full btn-lg" />
                        </form>
                        <br/>
                        <form action="{link zamcit}" method="post">
                            <input type="submit" value="Zamčít" class="btn btn-warning btn-block btn-full btn-lg" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6  hidden-xs">
            <div class="card">
                <div class="card-header">Kamera</div>
                <div class="card  text-left">
                    <img class="card-img-top"src="{$basePath}/resources/placeholder.jpg">
                </div>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-md-10">
            <div class="card  text-left">
                <div class="card-header">Graf</div>
                <div class="card-body">
                    <div class="card-content card-btn-min">
                        <canvas id="myChart" height="100" width="250"></canvas>
                    </div>
                </div>
            </div>
            </br>
        </div>
    </div>
    
    <script>
let url = "{link api}";

fetch(url)
    .then(res => res.json())
    .then((out) => {
        console.log('Checkout this JSON! ', out);
        var jArray = out;
        var arrayLength = jArray.length;
        var datalabels = [];
        var pocetlabels = [];
        for (var i = 0; i < arrayLength; i++) { datalabels[i] = jArray[i].datum }
        //alert(JSON.stringify(datalabels)); //vypis jednotlivych datumu
        for (var j = 0; j < arrayLength; j++) { pocetlabels[j] = jArray[j].pocet }
        //alert(JSON.stringify(pocetlabels)); //vypis jednotlivych poctu

        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:  datalabels,
                datasets: [{
                    label: 'Pocet prujezdu',
                    backgroundColor: '#49e2ff',
                    borderColor: '#46d5f1',
                    hoverBackgroundColor: '#CCCCCC',
                    hoverBorderColor: '#666666',
                    data: pocetlabels
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize : 1
                        }
                    }]
                }
            }
        });
    })
    .catch(err => { throw err });
    </script>


{/block}