{extends layout.latte}

{block title}Záznamy{/block}

{block body}
    <div class="row justify-content-center">

        <table class="table col-md-4 table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Datum</th>
                <th scope="col">Čas</th>
                <th scope="col">Akce</th>
                <th scope="col">Foto</th>

            </tr>
            </thead>
            <tbody>
            {foreach $zaznamy as $z}
                <tr>
                    <td>{$z['id']}</td>
                    <td>{$z['date']}</td>
                    <td>{$z['time']}</td>
                    <td>{$z['akce']}</td>
                    <td><a href="{$basePath}/resources/{$z['image']}">foto</a></td>
                </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
{/block}